profiles {   //tasks will run locally
  local {
    process.executor = 'local'
    process.container = ''
    workDir = './work'
  }

  awsbatch {
    process.executor = 'awsbatch'
    process.queue = 'nextflow8'
    process.container = '<aws_account_id>.dkr.ecr.us-east-1.amazonaws.com/fastqc:latest'
    workDir = 's3://aws-batch-input-bioinformatics/work'
    aws.region = 'us-east-1'
  }
}
